SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
AUTH_JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
N8N_PROCESSADOR_WEBHOOK_URL=
APP_URL=
N8N_API_URL=
N8N_API_KEY=
N8N_IPAM_TEMPLATE_WORKFLOW_ID=
N8N_GATILHO_WORKFLOW_ID=
